<header class="site_heade_newr">
    <div class="header_logo">
        {% if section.settings.logo %}
            {% comment %} mobile-open-close svg icons {% endcomment %}
            <svg class="header_mobile_open" xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12" fill="none" style="margin-left: 16px;">
            <path d="M1 6H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M1 1H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M1 11H19" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <svg class="header_mobile_close" xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none" style="display: none; margin-left: 16px;">
            <path d="M1 13.9994L13.7279 1.2715" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M1 1L13.7279 13.7279" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>

            <img src="{{ section.settings.logo | img_url: '200x' }}" alt="Logo" class="site-logo-img" />
        {% else %}
            {{ shop.name }}
        {% endif %}
    </div>
</header>
{% schema %}
{
  "name": "Header",
  "settings": [
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Enable announcement autoplay",
            "default": true
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Upload Logo"
        }
    ],
    "presets": [
        {
            "name": "Banner New Test EcomExperts"
        }
    ]
}
{% endschema %}